body{
  color: #8F959B;
  background: #FFFFFF;
  font-size: 15px;
  font-family: inter, sans-serif ;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
}

*{
  margin: 0;
  padding: 0;
}